node_modules
.DS_Store
dist
dist-ssr
*.local
/dist*
*-lock.*
pnpm-debug
stats.html
.idea
pnpm-lock.yaml
package-lock.json
yarn.lock
tmp
.tmp
target
.vscode
.agents
.kilo

.nvmdrc
.ai
/doc/history.md
/doc/JSON格式信息.txt
/doc/netlink.exe
/doc/nssm中文32位.exe
/.ai/tasks/feature-startup-options/plan.md
/test/test.js
/src-tauri/resource/tlist.exe
/.ai/tasks/feature-startup-options/todo.md
/doc/TODO-Pro.md
/待办.md
/doc/组网.eddx
/doc/组网.png
/doc/获取官方节点列表.txt
/doc/需求记录.md
.claude

assistant
